#main {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.badge {
	position: absolute;
	left: -10px;
	padding: 2px 10px;
	border: 1px black solid;
	border-radius: 15px;
	z-index: 3;
}

.badge-animated {
	background-color: blue;
}

.badge-interactive {
	background-color: orange;
}

.content {
	position: relative;
	display: inline-flex;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	width: 250px;
	height: 180px;

	background-color: white;
	margin: 20px;
	border-radius: 5px;
	border: 1px solid black;

	cursor: pointer;

	transition: border-radius 0.25s, background-color 0.25s;
	text-decoration: none;
}

.content:hover {
	border-radius: 10px;
}

.content span {
	position: absolute;
	pointer-events: none;
	text-align: center;
	color: black;
	font-weight: bold;
	text-shadow: 0px 0px 5px #ffffff;
}

.content img {
	width: 100%;
	height: 100%;

	filter: opacity(25%);
	border-radius: 5px;
	border: 1px solid black;
	transition: border-radius 0.25s, background-color 0.25s, filter 0.25s;
}

.content img:hover {
	filter: opacity(90%);
	border-radius: 10px;
	background-color: black;
	text-decoration: none;
}
